# General
backend-api/.DS_Store
backend-api/.flaskenv
backend-api/*.log
backend-api/*.sqlite
backend-api/*.sqlite3
backend-api/tmp

# Python
backend-api/**/__pycache__/
backend-api/*.pyc
backend-api/*.pyo
backend-api/*.pyd
backend-api/.Python
backend-api/env/
backend-api/venv/
backend-api/ENV/
backend-api/env.bak/
backend-api/venv.bak/
backend-api//htmlcov/
backend-api/.tox/
backend-api/.coverage
backend-api/.coverage.*
backend-api/.cache
backend-api/nosetests.xml
backend-api/coverage.xml
backend-api/*.egg-info/
backend-api/.installed.cfg
backend-api/*.egg
backend-api/*MANIFEST

# Distribution / Packaging
backend-api/.Python
backend-api/build/
backend-api/develop-eggs/
backend-api/dist/
backend-api/downloads/
backend-api/eggs/
backend-api/.eggs/
backend-api/lib/
backend-api/lib64/
backend-api/parts/
backend-api/sdist/
backend-api/var/
backend-api/wheels/
backend-api/share/python-wheels/
backend-api/*.egg-info/
backend-api/.installed.cfg
backend-api/*.egg
backend-api/MANIFEST.in

# Jupyter Notebook
backend-api/.ipynb_checkpoints

# MyPy
backend-api/.mypy_cache/
backend-api/.dmypy.json
backend-api/dmypy.json

# Pytest
backend-api/.pytest_cache/

# Node.js
frontend-app/node_modules/
frontend-app/npm-debug.log*
frontend-app/yarn-debug.log*
frontend-app/yarn-error.log*
frontend-app/lerna-debug.log*
frontend-app/.pnpm-debug.log*
frontend-app/.yarn/
frontend-app/.pnpm-store/

# Editor directories and files
frontend-app/.idea/
frontend-app/.vscode/
frontend-app/*.swp
frontend-app/*.bak
frontend-app/*.swo
frontend-app/*~
frontend-app/.editorconfig

# testing
frontend-app/*coverage

# next.js
frontend-app/*.next/
frontend-app/*out/

# production
frontend-app/*build

# misc
frontend-app/*.DS_Store
frontend-app/*.pem

# debug
frontend-app/*npm-debug.log*
frontend-app/*yarn-debug.log*
frontend-app/*yarn-error.log*
frontend-app/*.pnpm-debug.log*

# env files (can opt-in for committing if needed)
*.env*

# vercel
frontend-app/*.vercel

# typescript
frontend-app/*.tsbuildinfo
frontend-app/*next-env.d.ts
